* {
    font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#fff;
}

table {
    width: 100%;
    border-top: 1px solid rgb(239, 239, 241);
    border-left: 1px solid rgb(239, 239, 241);
}
body{
	text-align:center;
}
th, td {
    border-right: 1px solid rgb(239, 239, 241);
    border-bottom: 1px solid rgb(239, 239, 241);
    padding: 5px 10px;
}
table.noborder, table.noborder th, table.noborder td {
    border: 0px;
    padding: 0px;
}
input[disabled] {
    background: #3e0000;
}
input, select { width: 100%; }
input[type="submit"] {
    background: rgb(82, 0, 82);
    cursor: pointer;
}
input[type="submit"]:hover {
    background: rgb(189, 1, 189);
}
input[type="button"], button {
    background: #7c63ac;
    cursor: pointer;
}

#status {
    display: none;
    background: red;
    padding: 5px;
}
#status.show {
    display: block;
}

.disableit {
    position: relative;
}
.disableit:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
}




#dx-avatar{
    height: 25px;
    border-radius: 35px;
    border-style: solid;
    border-color: #fff;
    margin-left: .5px;
}

#dx-nome{ 
    color: #fff;
    position: relative;
    top: 2px;
    margin-left: 2px;

}
#dx-cont{
    display: inline-flex;
    background-color: #0d5c67;
    padding: 4px;
    padding-right: 19px;
    border-radius: 38px;
    transition: all .1s ease-in-out ;
}
#dx-cont:link{
    text-decoration: none;
}
#dx-cont:hover{
    background-color: #07404d;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
}

.dx-created{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}


.login-box{
    display: inline-table;
    padding: 4px 40px 4px 40px;
    border-radius: 7px 7px 17px 7px;
    transition: all .1s ease-in-out ;
    background-color: #9147ff;
	margin-top: 10px;
    margin-bottom: 10px;
	height: 36px;
}   
.login-box:hover{
    background-color: #4f24b8;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
    
}
.login-box:link{
    text-decoration: none;
}

.logofollow-box{
    display: inline-table;
    transition: all .1s ease-in-out ;
    background: none;
}   
.logofollow-box:hover{
    transform: scale(1.05);    
}
.logofollow-box:link{
    text-decoration: none;
}


.follow-box{
    display: inline-table;
    padding: 4px 40px 4px 40px;
    border-radius: 7px 7px 17px 7px;
    transition: all .1s ease-in-out ;
    background-color: #4b0d62;
	margin-top: 10px;
    margin-bottom: 10px;
	height: 36px;
}   
.follow-box:hover{
    background-color: #9c2bc6;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
    
}
.follow-box:link{
    text-decoration: none;
}

.paypal-box{
    display: inline-table;
    padding: 4px 40px 4px 40px;
    border-radius: 7px 7px 17px 7px;
    transition: all .1s ease-in-out ;
    background-color: #00457C;
	margin-top: 10px;
    margin-bottom: 10px;
	height: 36px;
}   
.paypal-box:hover{
    background-color: #2ca1ff;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
    
}
.paypal-box:link{
    text-decoration: none;
}

#paypal-text{
    color: #fff;
    margin-left: 17px;
    margin-right: 11px;
    font-size: 22px;
    font-weight: 300;
}


#twitch-text{
    color: #fff;
    margin-left: 7px;
    margin-right: 11px;
    font-size: 24px;
    font-weight: 300;
}

#gy-text{
    color: #fff;
    margin-left: 7px;
    margin-right: 11px;
    font-size: 19px;
    font-weight: 300;
}


.text{
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    display: block;
}

.description{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    white-space: pre-line;
    line-height: 19px;
}
.link{
    color: #ba7dff;
}

.paypal-description{
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    white-space: pre-line;
}

#title{
    color: #fff;
    font-size: 40px;
}

#gy-logo{
    position: relative;
	margin-top: 5px;
	margin-left: -10px;
	margin-right: 10px;
    height: 50px;
}

#twitch-logo{
    float: left;
    position: relative;
    top: 2px;
    height: 27px;
}